html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}

.image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/portfolio.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.8;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.portfolio {
  margin: 0 auto;
  text-align: center;
}

.btn-github {
  background-color: #333;
}

.btn-linkedin {
  background-color: #0077b5;
}

.btn-cv {
  background-color: darkolivegreen;
}
